.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  padding: 1rem 0;
  margin: 1rem 0;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: white;
  text-transform: capitalize;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
}

.text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.actions {
  display: flex;
  flex-direction: column;
}
.cart-item button {
  width: 45px;
}

.image {
  width: 100px;
  height: 100%;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}
