.container {
  display: grid;
  margin: 0 auto;
  padding-top: 100px;
  width: 95%;
  grid-template-columns: 150px 1fr;
}

@media (min-width: 1600px) {
  .container {
    width: 80%;
    grid-template-columns: 150px 1fr;
  }
}