.container {
  position: fixed;
}

.select {
  background-color: antiquewhite;
  border: none;
  text-transform: capitalize;
}

.form-control input[type='range'] {
  background-color: chocolate;
  height: 3px;
  -webkit-appearance: none;
}