.container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 20px;
}

.not-found {
  text-align: center;
}

.image-container {
  position: relative;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-container:hover img {
  opacity: 0.5;
}

@media (min-width: 1200px) {
  .img{
    height: 300px;
  }
}

@media (min-width: 992px) {
  .container-grid {
  grid-template-columns: repeat(3, 1fr);
  }
}