.section {
  display: grid;
  padding: 5rem 0;
  width: 90vw;
  margin: 0 auto;
  min-height: 70vh;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.main {
  max-height: 400px;
}

.product-center {
  margin-top: 2rem;
}
.price {
  color: chocolate;
}

.info {
  padding-top: 10px;
  text-transform: capitalize;
  width: 300px;
  display: grid;
  grid-template-columns: 125px 1fr;
}
.info span {
  font-weight: 700;
}
.desc {
  line-height: 2;
  max-width: 45em;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.add-container {
  display: flex;
  height: 30px;
  margin: 0 50px;
  justify-content: space-evenly;
}
.add-container h2 {
  margin: 0;
}

.add-container button {
  width: 4rem;
  height: 1.5rem;
}

.form-range {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: chocolate;
  align-items: center;
}

.form-range input[type='range']{
  background-color: chocolate;
  height: 3px;
  -webkit-appearance: none;
}

.modal-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
