.section {
  display: grid;
  padding: 5rem 0;
  width: 90vw;
  margin: 0 auto;
  min-height: 70vh;
  grid-template-columns: auto 1fr;
  column-gap: 30px;
  align-items: center;
  justify-items: center;
}

.section h1 {
  margin: 0 10px;
  text-transform: capitalize;
}
.section a {
  justify-self: start;
}
.section button {
  font-size: 20px;
}
.image {
  max-height: 400px;
  border-radius: 20px;
}

.product-center {
  margin-top: 2rem;
}
.price {
  color: chocolate;
}

.info {
  padding-top: 10px;
  text-transform: capitalize;
  width: 300px;
  display: grid;
  grid-template-columns: 125px 1fr;
}
.info span {
  font-weight: 700;
}
.desc {
  line-height: 2;
  max-width: 45em;
}

.buttons-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  align-items: start;
}

.buttons-container button {
  width: 100%;
}
.buttons-container a {
  width: 100%;
}

.add-container {
  display: flex;
  height: 30px;
  margin: 0 50px;
  justify-content: space-evenly;
}
.add-container h2 {
  margin: 0;
}

.add-container button {
  width: 4rem;
  height: 1.5rem;
}

.form-range {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: chocolate;
  align-items: center;
}

.form-range input[type='range'] {
  background-color: chocolate;
  height: 3px;
  -webkit-appearance: none;
}

.modal-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.reviews {
  text-align: center;
}
.reviews-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 50px;
}
