.stars {
  display: flex;
  justify-content: center;
}
.stars-main {
  display: flex;
}
.container {
  display: grid;
  align-items: center;
  grid-template-columns: 110px auto;
}
.container span {
  color: chocolate;
  font-size: 16px;
}
.container p {
  font-size: 16px;
}
