.container-main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(148, 48, 48, 0.2),
      rgba(167, 67, 67, 0.04)
    ),
    url(https://drive.google.com/uc?export=view&id=1QvX1tr2daA_I7PX4eheR7ocRMEJcFieK)
      center no-repeat;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}