.container {
  width: 150px;
  height: 35px;
  display: grid;
  position: fixed;
  grid-template-columns: 1fr 1fr;
  top: 50px;
  right: 90px;
  z-index: 100;
  color: chocolate;
}
.shopping-container {
  display: flex;
}
.navbar {
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30% 0 0 30%;
  transition: right 0.8s cubic-bezier(0.1, 0.5, 0.5, 1);
  z-index: 100;
}

.changed-navbar {
  right: 0;
}

.hamburger-menu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shopping-cart {
  width: 35px;
  height: 30px;
  cursor: pointer;
  z-index: 100;
  color: chocolate;
}

.account {
  width: 35px;
  height: 30px;
  cursor: pointer;
  color: chocolate;

}
.shopping-cart-quantity {
  background-color: black;
  color: chocolate;
  position: absolute;
  display: flex;
  right: 105px;
  height: 20px;
  width: 20px;
  justify-content: center;
  border-radius: 180%;
  z-index: 101;
}

.line {
  width: 100%;
  height: 3px;
  background-color: chocolate;
  transition: all 0.8s;
}

.line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}
.line-2 {
  opacity: 0;
}

.line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
  text-align: right;
}

.nav-item {
  list-style: none;
  margin: 25px;
}

.nav-link {
  text-decoration: none;
  font-size: 22px;
  color: #eee;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: chocolate;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}
