.banner {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner h1 {
  font-size: 80px;
  color: #ddd;
  font-weight: 300;
  margin-bottom: 30px;
  animation-name: moveToLeft;
  animation-duration: 2s;
}
.banner h1 span {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.banner p {
  font-size: 30px;
  font-weight: 500;
  color: #eee;
  margin-bottom: 20px;
  animation-name: moveToRight;
  animation-duration: 2s;
}

.banner button {
  width: 180px;
  padding: 12px;
  margin: 20px;
  border: 2px solid #eee;
  border-radius: 50px;
  font-size: 18px;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: chocolate;
}

.btn-left {
  animation-name: animateButtons;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

.btn-right {
  animation-name: animateButtons;
  animation-duration: 1s;
  animation-delay: 2.2s;
  animation-fill-mode: backwards;
}

.buttons:hover {
  background-color: black;
  border-color: chocolate;
  color: white;
}

@keyframes moveToLeft {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animateButtons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
