.image {
  width: 150px;
  padding-bottom: 30px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  height: 20px;
}

.form label {
    text-align: end;
    text-transform: capitalize;
}

.form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid chocolate;
}