.button-introduction {
    text-align: start;  
}

.buttons-container button {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.data-container {
    display: grid;
    grid-template-columns: 150px 1fr 100px;
    row-gap: 20px;
}