.product-container {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  row-gap: 20px;
}

.user-container {
  display: grid;
  grid-template-columns: 1fr 150px;
  row-gap: 20px;
  align-items: center;
}
